body {
    background-color: aqua;
}
#login,#addUser {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  #login:hover, #addUser:hover {
    background-color: darkblue;
  }